<%- include('../_layouts/adminheader') %>

<h2 class="page-title">Products</h2>
<a href="/admin/products/add-product" class="btn btn-primary">Add a new product</a>
<br><br>

<% if(count>0) {%>
	<table class="table table-striped alignmiddle">
		<thead>
			<tr class="home">
				<th>Product</th>
				<th>Price</th>
				<th>Category</th>
				<th>Product Image</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<% products.forEach(function(product){%>
				<tr>
					<td><%= product.title %></td>
					<td>$<%= parseFloat(product.price).toFixed(2) %></td>
					<td><%= product.category %></td>
					<td>
					<% if(product.image == "") {%>
						<img id="productImage" src="/images/noimage.png" alt="">
					<% } else{%>
						<img id="productImage" src="/product_images/<%= product._id %>/<%= product.image%>" alt="">
					<% }%>
					</td>


					<td><a href="/admin/products/edit-product/<%= product._id %>">Edit</td>
					
					<td><a class="confirmDeletion" href="/admin/products/delete-product/<%= product._id %>">Delete</td>
				</tr>
			<% });%>
		</tbody>
	</table>
<%} else{%>
<h3 class="text-center"> There are no products </h3>
<% } %>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

<%- include('../_layouts/adminfooter') %>